@media (max-width:935px) {
    .title {
        display: flex;
        flex-direction: column-reverse;
    }

    .about {
        text-align: center;
        width: auto;
        margin-bottom: 30px;
    }

    nav,
    .social,
    .right.hidden,
    .left.hidden {
        display: none;
    }

    .wrapper .left,
    .wrapper .right {
        width: 100%;
    }

    .wrapper {
        padding: 10% 20px 4%;
    }

    body,
    html,
    .wrapper {
        height: 100%;
        width: 100%;
    }

    .name {
        padding-top: 10px;
        text-align: center;
    }


    .explore-container,
    .copyright {
        display: block;
        text-align: center;
    }

    .explore-container a {
        text-decoration: none;
        color: #ffffff;
        background-color: #16161A;
        padding: 8px 30px;
    }

    .wrapper.light-theme .explore-container a {
        background-color: #343a40;
    }

    .mobile-social {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mobile-social a {
        margin: 3% 6%;
    }

    .mobile-social a i {
        color: white;
    }

    .wrapper.light-theme a i {
        color: black;
    }

    .footer {
        display: block;
    }

    .mobile-controller {
        display: flex;
        padding: 0 5%;
        margin-bottom: 20px;
        align-items: center;
    }

    .mobile-controller a {
        text-decoration: none;
        margin: 5px;
    }

    .mobile-controller a button {
        background-color: #16161A;
        color: #fff;
        padding: .7rem 1rem;
        font-size: 13px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        font-family: "air-regular";
    }

    .wrapper.light-theme .mobile-controller a button {
        color: black;
        background-color: #f8f9fa;
    }

    .wrapper.light-theme .mobile-controller a button i {
        color: black;
        background-color: #f8f9fa;
    }

    .experience-btn.hidden,
    .education-btn.hidden,
    .projects-btn.hidden,
    .skillInterests-btn.hidden,
    .home-controller.hidden {
        display: none;
    }

    .home-controller {
        margin-right: 2%;
        margin-left: 2%;
    }

    .left-controller,
    .right-controller,
    .home-controller {
        text-align: center;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10% 0 50px;
    }

    .light-mode-toggler {
        top: 1em;
        right: 1em;
    }

}