@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    .main {
        margin: 0;
    }

    .logo a {
        display: none;
    }

    .title {
        font-size: 2rem;
    }

    .section {
        padding-left: 0;
    }

    .section .item-title {
        margin-right: 0;
    }

    .intro .item-body {
        margin-left: 17.5%;
    }

    .interests .item-body {
        margin-left: 11%;
    }

    .skills .item-body {
        margin-left: 15%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .skills figure {
        margin-right: 9%;
    }

    .skills figure:nth-last-of-type(1) {
        margin: 0;
    }

    .skills figure figcaption {
        display: none;
    }

    .skills figure img {
        height: 72px;
        width: 60px;
        margin-bottom: 12px;
    }

    .education .item-body {
        margin-left: 9%;
    }

    .education_item,
    .exp {
        display: block;
    }

    .education_item .year,
    .exp .year {
        margin: 0;
        margin-top: 10px;
    }

    .experience .item-body {
        margin-left: 8%;
    }

    .experience_role {
        width: 90%;
        margin-top: 26px;
    }

    .project .item-body {
        margin-left: 12%;
    }

    .right {
        display: none;
    }
}

@media (max-width: 360px) {

    .info,
    .section {
        display: block;
    }

    .logo {
        margin-bottom: 12px;
    }

    .section .item-title {
        margin-bottom: 12px;
    }

    .section .item-body {
        margin: 0;
    }

}